*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Metropolis', sans-serif;
  background-color: white;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 1.3rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: transparent;
  transition: background-color 0.3s ease;  
}

.navbar.scrolled {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar img {
  margin-top: 8px;
  height: 3.5rem;
  width: 8rem;
}

.navbar .navbar-nav a{
  color: #333;
  display: inline-block;
  font-size: 0.86rem;
  font-weight: 700;
  margin: 0 1.4rem;
}

.search-icon img {
  width: 1.2rem;
  height: auto;
  margin-right: 1rem;
  cursor: pointer;
}

.header-right .iservice-btn {
  padding: 12px 20px;
  position: relative;
  bottom: 0.5em;
  background-color: #ed017f;
  color: #fff;
  font-size: 0.86rem;
  border-radius: 5px;
}

.hero {
  margin-top: 7rem;
}

.hero .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.hero .content .desc {
text-align: left;
padding-left: 6.5rem;
margin-top: 6rem;
}

.hero .content .desc h1 {
  font-weight: 900;
  font-size: 3.25rem;
  line-height: 4.5rem;
  margin-bottom: 1rem;
  max-width: 30rem; 
}

.hero .content .desc p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.hero .content .desc .apply-online {
  padding: 15px 20px;
  background-color: #ed017f;
  border: 2px solid #ed017f;
  color: #fff;
  font-weight: 500;
  font-size: 0.86rem;
  border-radius: 5px;
  margin-right: 1rem;
}

.hero .content .desc .loan-calculator {
  padding: 15px 20px;
  background-color: #fff;
  border: 2px solid #ed017f;
  color: #ed017f;
  font-weight: 500;
  font-size: 0.86rem;
  border-radius: 5px;
}

.hero .content .family-image {
  justify-self: end;
  position: relative;
}

.family-image img {
  max-width: 100%;
  height: auto;
  transform: scaleX(-1);
}

.floating-buttons {
  position: absolute;
}

.floating-buttons .car {
  z-index: 10;
  display: flex;
  background-color: #fff;
  border-radius: 25px;
  padding: 18px 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  color: black;
  position: relative;
  left: 1.2rem;
  top: 2rem;
  justify-content: center;
  column-gap: 8px;
}

.floating-buttons .car p {
  padding-top: 2px;
}

.floating-buttons .house {
  z-index: 10;
  display: flex;
  background-color: #fff;
  border-radius: 27px;
  padding: 15px 20px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  color: black;
  position: relative;
  left: 33rem;
  top: 1rem;
  justify-content: center;
  column-gap: 5px;
}

.floating-buttons .house p {
  padding-top: 8px;
}

.family-image {
  margin-top: 3rem;
  position: relative;
}

.family-image::before{
  content: "";
  position: absolute;
  background-color: #f5deea;
  z-index: -1;
  top: -10rem;
  left: 6rem;
  width: 55rem;
  height: 46rem;
}

.sosmed {
  display: flex;
  align-items: center;
  margin-top: 10rem;
}

.sosmed .isi-sosmed {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.sosmed .isi-sosmed p {
  margin-top: 2.1rem;
  font-weight: 600;
}
 .cust-experience{
  margin-top: 6rem;
}
.cust-experience .title-opening {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 1.7rem;
  color: #333;
}
.cust-experience .desc-opening {
  margin: 0 23rem;
  line-height: 1.7;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
  color: #999999;
}

.cust-experience .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cust-card {
  padding: 3rem;
  border-radius: 8px;
  width: 20rem;
  gap: 4rem;
  margin: 0 2rem;
  /* background-color: #e0dcdc; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.cust-card .cust-card-title {
  margin-top: 15px;
  color: #333;
}

.cust-card .cust-card-desc {
  color: #999999;
  font-size: 0.8rem;
  line-height: 1.6;
  margin-top: 0.5rem;
  font-weight: 500;
}

.bussines-partner .bussines-partner-title {
  color: #333;
  text-align: center;
  margin-top: 5rem;
  font-weight: 500;
}

.bussines-partner .carousel {
  position: relative;
  max-width: 100%;
  margin: 3rem 10rem;
  overflow: hidden;
  text-align: center;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.carousel-item img {
  width: 10rem;
  margin: 2rem;
  /* Empat gambar per slide (24% per gambar + 1% gap antara gambar) */
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.prev,
.next {
  position: relative;
  top: 5px;
  color: white;
  background-color: #ed017f;
  border-radius: 20%;
  display: inline-block;
  justify-content: center;
  width: 25px;
  height: 27px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
  padding-top: 2px;
  margin-bottom: 10px;
}
.prev:hover,
.next:hover {
  background-color: rgba(96, 91, 91, 0.9);
}

.about {
  display: flex;
  position: relative;
}

.about .about-desc {
  margin-left: 1rem;
  padding: 5rem 14rem 0 4rem;
}
.about .about-desc h2{
  color: #333;
  font-size: 2.3rem;
}
.about .about-desc p {
  margin-top: 1rem;
  line-height: 1.8;
  text-align: justify;
  font-weight: 500;
  color: #999999;
}

.service {
  margin: 6rem 3rem 8rem 3rem;
}

.service h2 {
  color: #333;
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 1.7rem;
}

.service p {
  margin: 0 18rem;
  line-height: 1.7;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
  color: #999999;
}

.service .row{
  display: flex;
  justify-content: center;
}

.service .row .card-service {
  padding: 2rem;
}
.service .row .card-service .card-service-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.service .row .card-service .card-service-action h3 {
  font-size: 1rem;
  font-weight: 500;
}
.result {
  margin: 4rem auto; 
  max-width: 1200px; 
}

.result-title {
  color: #333;
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.result-desc {
  text-align: center;
  font-size: 1rem;
  margin: 0 20rem 2rem;
  line-height: 1.6;
  font-weight: 500;
  color: #999999;
}

.result .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 0 3rem; 
}

.card-result {
  /* background-color: #f4f4f4; */
  padding: 3rem;
  text-align: left;
  border-radius: 10px;
  margin: 0;
  background-color: #e0dcdc;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.card-result h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.card-result-desc {
  font-size: 1rem;
  line-height: 1.6;
  color: #777;
  font-weight: 500;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #f7f7f7;
  padding: 5rem;
  background-color: #FEF9FC;
}
.form-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.newsletter-title {
  color: #333;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.sub-title {
  font-size: 1rem;
  color: #999999;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  padding: 0 26rem 1rem 26rem;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group input {
  border: 1px solid #999999;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem 4rem 1rem 1rem;
  width: 100%;
  margin-right: 0.5rem
}

.input-group button {
  border: none;
  background-color: #ed017f;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  /* Membuat sisi kanan melengkung */
  cursor: pointer;
  font-size: 1rem;
}

.footer {
  display: flex;
  justify-content: center
}

.footer .list-footer {
  padding: 4rem;
  line-height: 2;
}
.footer .list-footer h3{
  color: #333;
}
.footer .list-footer p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #777;
}

.list-footer .list-footer-sosmed img {
  padding-top: 1rem;
  padding-right: 1rem;
}
.list-footer .footer-group {
  display: flex;
  color: #333;
}
.list-footer .footer-group img {
  margin-top: 8px;
  width: 30px;
  height: 27px;
}


/* burger */
.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
}

.burger span {
  background-color: #333;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Side Menu Styles */
.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  transition: right 0.3s ease;
  z-index: 10000;
}

.side-menu a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
}

.side-menu .close-btn {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  color: #333;
  align-self: flex-end;
}

/* Overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    overflow-x: hidden;
  }
  .burger {
    display: flex;
  }

  .navbar-nav {
    display: none;
  }

  .side-menu.active {
    right: 0;
  }

  .header-right .iservice-btn {
    padding: 12px 20px;
    position: relative;
    margin-left: 11rem;
    bottom: 0.5em;
    background-color: #ed017f;
    color: #fff;
    font-size: 0.86rem;
    border-radius: 5px;
  }
  .header-right .search-icon {
   position: relative;
   left: 11rem;
  }
  .overlay.active {
    display: block;
    /* menampilkan overlay saat menu aktif */
  }

    .hero .content {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .hero .content .desc {
      padding-left: 1.2rem;
      margin-top: 3rem;
    }
  
    .hero .content .family-image {
      justify-self: center;
      margin-top: 2rem;
    }
  
    .floating-buttons .car,
    .floating-buttons .house {
      left: 0;
      justify-self: center;
      position: static;
      bottom: 2rem;
      margin: 0.3rem 1rem 1rem 0.4rem;
    }
  
    .family-image::before {
      top: -5rem;
      left: 0;
      width: 100%;
      height: 30rem;
    }
  
    .sosmed {
      position: relative;
      bottom: 3rem;
    }

    /* section cust experience */
    .cust-experience .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
    }
    .cust-experience .desc-opening {
      margin: 0 2rem;
      font-size: 0.8rem;
    }
  
    .cust-experience .title-opening {
      font-size: 1.8rem;
    }
  
    .cust-card {
      width: 100%;
      margin: 1rem 0;
      padding: 2rem;
    }
  
    .cust-card .cust-card-title {
      font-size: 1.2rem;
    }
  
    .cust-card .cust-card-desc {
      font-size: 0.75rem;
      line-height: 1.5;
    }

    /* business partner */
    .bussines-partner .carousel {
      margin: 2rem 1rem;
    }
    .carousel-inner{
      margin: 1rem;
      justify-content: center;
    }
    .carousel-item{
      margin: 0.25rem;
    }
    .carousel-item img {
      width: 4.5rem;
      margin: 0.5rem;
    }

    /* about */
    .about{
      grid-template-columns: 1fr;
      
    }
    .about {
      flex-direction: column;
      align-items: center;
    }
  
    .about img {
      width: 100%;
    }
  
    .about .about-desc {
      padding: 2rem 2rem;
    }
    .about .about-desc h2 {
      font-size: 1.5rem;
    }
    .about .about-desc p {
      font-size: 0.8rem;
      line-height: 1.6;
    }
/* services */
    .service{
      margin: 4rem 1rem;
      justify-content: center;
    }
    .service .row {
      display: grid;
    }
    .service h2 {
      font-size: 1.8rem;
    }
    .service p {
      margin: 0 1rem;
      font-size: 0.9rem;
    }
    .service .row .card-service {
      width: 100%;
      margin: 1rem 0;
    }
    .service .row .card-service .card-service-action h3 {
      font-size: 1rem;
    }
    /* result */
    .result {
      margin: 4rem 3rem;
      max-width: 1000px;
    }
    .result .row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
    }
    .result .row .card-result{
      padding: 2rem 10px;
      background-color: #e0dcdc;
    }
    .result-title {
      color: #333;
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    .result-desc {
      font-size: 0.9rem;
      margin: 0 2rem;
    }

    .newsletter{
      margin: 4rem 1rem;
    }

    .newsletter-title {
      color: #333;
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    .input-group input {
      max-width: 100%;
      padding: 0.8rem 1rem;
      font-size: 0.9rem;
    }
    .input-group button {
      padding: 0.8rem 1rem;
    }
    .footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      justify-content: center;
    }

    .sub-title p{
      /* background-color: red; */
      font-size: 0.9rem;
      margin: 0 1rem;
      font-weight: 500;
      width: 500px;
      margin-bottom: 1rem;
    }
}